.counter-ctrl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    font-size: 30px;
}

.counter {
    text-align: center;
}

.counter-show {}

.counter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-btns-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: .5rem;
    margin: 0 1rem;
}

.counter-btns-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: .5rem;
    margin: 0 1rem;
}

.counter-btns-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: .5rem;
    margin: 0 1rem;
}